@font-face {
  font-family: "Roboto", sans-serif;
  src: url(fonts/Roboto-Regular.woff2), local("Roboto");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(fonts/Roboto-Medium.woff2), local("Roboto");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(fonts/Roboto-Bold.woff2), local("Roboto");
  font-weight: 700;
  font-display: swap;
}

html {
  background-image: url("./img/picture.jpg");
}

#root {
  margin: 0 10px;
}
body {
  font-family: "Roboto", sans-serif;
  position: relative;
  background-color: transparent;
}
.enter-icon {
  width: 50px;
  cursor: pointer;
}
.hidden {
  display: none;
}
a {
  font-size: 20px;
  color: aliceblue;
}
.form {
  width: 100%;
  min-width: 300px;
  height: inherit;
}

.modal-auth {
  width: 60%;
  height: 40%;
  min-width: 300px;
  max-width: 600px;
  max-height: 300px;
  min-height: 300px;
  margin: 0 auto;
  background-color: #dcdcff;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 5%;
  border: 10px solid #8a8aca;
}

h1 {
  margin: 35px auto;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.div-form {
  text-align: center;
}

.auth-button {
  display: block;
  margin: 15px auto;
  text-align: center;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: aliceblue;
  background-color: blueviolet;
  font-size: 20px;
}
.modal-out {
  width: 60%;
  height: 40%;
  min-width: 300px;
  max-width: 600px;
  max-height: 300px;
  min-height: 300px;
  margin: 0 auto;
  background-color: rgb(182, 211, 237);
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 5%;
  border: 10px solid #8a8aca;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #000;
}
.out-button {
  display: block;
  margin: 140px auto;
  font-size: 20px;
  text-align: center;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: aliceblue;
  background-color: blueviolet;
}
.modal-err {
  width: 60%;
  height: 40%;
  min-width: 300px;
  max-width: 600px;
  max-height: 300px;
  min-height: 300px;
  margin: 0 auto;
  background-color: rgb(185, 61, 90);
  font: black;
  color: aliceblue;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 5%;
  border: 10px solid #8a8aca;
}
.error-modal-text {
  margin: 25px auto;
  text-align: center;
  font-size: 20px;
}
.error-modal-button {
  display: block;
  margin: 140px auto;
  font-size: 20px;
  text-align: center;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: aliceblue;
  background-color: rgb(226, 43, 159);
}
.calendar-wrapper {
  width: 360px;
  margin: 3em auto;
  padding: 2em;
  border: 1px solid #dcdcff;
  border-radius: 5px;
  background: #fff;
}
table {
  clear: both;
  width: 100%;
  border: 1px solid #dcdcff;
  border-radius: 3px;
  border-collapse: collapse;
  color: #444;
}
td {
  position: relative;
  height: 48px;
  text-align: center;
  vertical-align: top;
  border-right: 1px solid #dcdcff;
  border-top: 1px solid #dcdcff;
  width: 14.28571429%;
}
.mark {
  position: absolute;
  background-color: #dcdcff;
  height: 15px;
  width: 15px;
  top: 30%;
  left: 60%;
  border-radius: 50%;
}
/* .normal{
  position: absolute;
} */
thead td {
  border: none;
  color: #28283b;
  text-transform: uppercase;
  font-size: 1.5em;
}

td.not-current {
  color: #c0c0c0;
}

td.today {
  font-weight: 700;
  color: #28283b;
  font-size: 1.5em;
}

#btnPrev {
  float: left;
  margin-bottom: 20px;
}
#btnPrev:before {
  content: "\f104";
  font-family: FontAwesome;
  padding-right: 4px;
}
#btnNext {
  float: right;
  margin-bottom: 20px;
}
#btnNext:after {
  content: "\f105";
  font-family: FontAwesome;
  padding-left: 4px;
}
#btnPrev,
#btnNext {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #c0c0c0;
  cursor: pointer;
  font-family: sans-serif;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

#btnPrev:hover,
#btnNext:hover {
  color: #28283b;
  font-weight: bold;
}

#divCont {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "input input input"
    "input-date select button"
    "list list list"
    "container container container";
}
/* #divCont{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
} */
.input-todos {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  grid-area: input;
  height: 30px;
  border-radius: 3%;
}
.input-date {
  grid-area: input-date;
  width: 150px;
  display: block;
  margin: 0 auto;
  height: 25px;
}
.input-status {
  grid-area: select;
  width: 150px;
  display: block;
  margin: 0 auto;
  height: 25px;
}
.main-button {
  grid-area: button;
  display: block;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  color: aliceblue;
  background-color: rgb(162, 90, 229);
  font-size: 20px;
}

#tasks-container {
  width: 100%;
  display: grid;
  grid-template-columns: 131px 125px 3fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-area: container;
  background-color: aliceblue;
}
.list {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 131px 125px 3fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  text-align: center;
  grid-area: list;
  background-color: aliceblue;
}
.title0 {
  margin: 0 auto;
  border: 2px dotted black;
  width: 100%;
}
.title0 > select {
  display: block;
  background-color: antiquewhite;
  margin: 0 auto;
  font: bold;
}
.list-dates {
  border: 2px dotted black;
  margin: 0 auto;
  width: 100%;

  text-align: center;
}
.title1 {
  margin: 0 auto;
  border: 2px dotted black;
  width: 100%;
}

.list-time {
  border: 2px dotted black;
  margin: 0 auto;
  width: 100%;
  min-width: 99px;
  text-align: center;
}
.title2 {
  margin: 0 auto;
  border: 2px dotted black;
  width: 100%;
  min-width: 400px;
  min-width: 402px;
}
.title2 > input {
  display: block;
  background-color: antiquewhite;
  margin: 0 auto;
  width: 80%;
}
.taska {
  border: 2px dotted black;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  min-width: 402px;
}
.title3 {
  margin: 0 auto;
  border: 2px dotted black;
  width: 100%;
  min-width: 87px;
}
.title3 > select {
  display: block;
  background-color: antiquewhite;
  margin: 0 auto;
}
.status-title {
  border: 2px dotted black;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  min-width: 87px;
}
.title4,
.title5 {
  margin: 0 auto;
  border: 2px dotted black;
  width: 100%;
}
.flex {
  /*  position: relative; */
  background-color: #c0c0c0;
  width: 60%;
  height: 20%;
  position: absolute;
  z-index: 100;
}

.btn {
  background-color: black;
  width: 20%;
  position: absolute;
  top: 80%;
  color: #fff;
  z-index: 101;
}
.modal {
  width: 400px;
  height: 300px;
}
.flexy {
  width: inherit;
  height: inherit;
}
label {
  display: block;
}
